* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gabarito', sans-serif;
}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid black 2px;
    gap: 10px;

}

.navbar__s1__title {
    color: #a435f0;
}

.navbar__s2 {
    padding: 10px;
    border: solid black 2px;
    width: 60%;
    border-radius: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s2 input {
    width: 100%;
    font-size: 16px;
    border: none;

}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__s3 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.catagories {
    padding: 10px;
    border-bottom: solid black 2px;
    display: flex;
    justify-content: space-around;
}

.catagories h3 {
    border: solid black 1px;
    padding: 20px;
    border-radius: 30px;
    color: white;
    background-color: #a435f0;

}

.catagories h3:hover {
    background-color: white;
    color: black;
    cursor: pointer;

}

.card__title1 {
    padding-top: 10px;
}

.sale__image1 {
    width: 100%;

}

.card__img {
    height: 300px;
    width: 280px;
}

.recommended {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;

}

.card {
    padding: 10px;
    margin: 10px;
}

.topics {
    margin: 10px;
    padding: 10px;
}

.topics__s2 {
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.topics__s2 p {
    padding: 10px;
    border: solid black 1px;
    width: 100%;
    flex-basis: 25%;
    flex-grow: 1;
    font-size: 20px;
}

.topics__s2 p:hover {
    background-color: #a435f0;
    color: white;
    cursor: pointer;
}

.popular {
    margin: 10px;
    padding: 10px;
}

.popular__imagesection {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.popular__img {
    margin: 10px;
    padding: 10px;
    width: 23%;
}


.footer {
    margin: 10px;
    padding: 10px;
    background-color: black;
    color: white;
}

.footer__one {
    display: flex;
    gap: 20px;
}

.footer__one p {
    margin: 20px;
}

.footer__two {
    margin-top: 40px;
}

.footer__two {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular__img1 {
    width: 100%;
    height: auto;
}

